# fly.toml app configuration file generated for deskflow on 2026-01-03T22:48:42-06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'deskflow'
primary_region = 'dfw'

[build]

[[mounts]]
  source = 'tmp'
  destination = '/tmp'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 512
